<script>
    import NotificationService from '$lib/services/NotificationService.js';

    import { settings } from '$lib/data/trainerStore.js';

    import Section from '$lib/components/settings/SettingsSection.svelte';
    import Wrapper from '$lib/components/settings/SettingsWrapper.svelte';
</script>

<Wrapper saveUrl="/apps/trainer">
    <Section title="Positions">
        <fieldset class="mgrid">
            <!-- positions -->
            <label for="setup-seconds" class="no-checkbox">
                {$settings.positions} position{$settings.positions === 1 ? '' : 's'}
            </label>
            <input
                type="range"
                min="1"
                max="9"
                id="setup-seconds"
                name="setup-seconds"
                bind:value={$settings.positions}
            />
            <!-- end positions -->
        </fieldset>
    </Section>
    <Section title="Setup Timer">
        <fieldset class="mgrid">
            <!-- setup seconds -->
            <label for="setup-seconds" class="no-checkbox">
                Setup {$settings.setup.seconds} second{$settings.setup.seconds === 1 ? '' : 's'}
            </label>
            <input
                type="range"
                min=".5"
                max="15"
                step=".5"
                id="setup-seconds"
                name="setup-seconds"
                bind:value={$settings.setup.seconds}
            />
            <!-- end setup seconds -->
            <!-- setup sound -->
            <label for="setup-sound-yn">
                Sound
                {#if $settings.setup.notification.sound.enabled && $settings.setup.notification.sound.volume > 0}
                    {($settings.setup.notification.sound.volume * 100).toFixed(0)}%
                {:else}
                    off
                {/if}
            </label>
            <input
                type="checkbox"
                id="setup-sound-yn"
                name="setup-sound-yn"
                role="switch"
                bind:checked={$settings.setup.notification.sound.enabled}
                on:change={() => NotificationService.notify($settings.setup.notification)}
            />
            <input
                type="range"
                min="0"
                max="1"
                step=".05"
                disabled={!$settings.setup.notification.sound.enabled}
                id="setup-sound"
                name="setup-sound"
                bind:value={$settings.setup.notification.sound.volume}
                on:change={() => NotificationService.notify($settings.setup.notification)}
            />
            <!-- end setup sound -->
            <!-- setup vibration -->
            <label for="setup-vibration-yn">Vibrate</label>
            <input
                type="checkbox"
                id="setup-vibration-yn"
                name="setup-vibration-yn"
                role="switch"
                bind:checked={$settings.setup.notification.vibrate.enabled}
                on:change={() => NotificationService.notify($settings.setup.notification)}
            />
            <label for="setup-vibration-yn">
                {#if $settings.setup.notification.vibrate.enabled}
                    on
                {:else}
                    off
                {/if}
            </label>
            <!-- end setup vibration -->
            <!-- setup auto -->
            <label for="setup-auto-yn"> Auto setup </label>
            <input
                type="checkbox"
                id="setup-auto-yn"
                name="setup-auto-yn"
                role="switch"
                bind:checked={$settings.setup.auto}
            />
            <label for="setup-auto-yn">
                {#if $settings.setup.auto}
                    on
                {:else}
                    off
                {/if}
            </label>
            <!-- end setup auto -->
        </fieldset>
    </Section>
    <Section title="Trigger Timer">
        <fieldset class="mgrid">
            <!-- trigger seconds min -->
            <label for="trigger-min" class="no-checkbox">
                Min {$settings.trigger.secondsMin} second{$settings.trigger.secondsMin === 1
                    ? ''
                    : 's'}
            </label>
            <input
                type="range"
                min=".5"
                max="15"
                step=".5"
                id="trigger-min"
                name="trigger-min"
                bind:value={$settings.trigger.secondsMin}
                on:input={() => {
                    if ($settings.trigger.secondsMin >= $settings.trigger.secondsMax) {
                        $settings.trigger.secondsMax = $settings.trigger.secondsMin;
                    }
                }}
            />
            <!-- end trigger seconds min -->
            <!-- trigger seconds max -->
            <label for="trigger-max" class="no-checkbox">
                Max {$settings.trigger.secondsMax} second{$settings.trigger.secondsMax === 1
                    ? ''
                    : 's'}
            </label>
            <input
                type="range"
                min=".5"
                max="15"
                step=".5"
                id="trigger-max"
                name="trigger-max"
                bind:value={$settings.trigger.secondsMax}
                on:input={() => {
                    if ($settings.trigger.secondsMax <= $settings.trigger.secondsMin) {
                        $settings.trigger.secondsMin = $settings.trigger.secondsMax;
                    }
                }}
            />
            <!-- end trigger seconds max -->
            <!-- trigger sound -->
            <label for="trigger-sound-yn">
                Sound
                {#if $settings.trigger.notification.sound.enabled}
                    {($settings.trigger.notification.sound.volume * 100).toFixed(0)}%
                {:else}
                    off
                {/if}
            </label>
            <input
                type="checkbox"
                id="trigger-sound-yn"
                name="trigger-sound-yn"
                role="switch"
                bind:checked={$settings.trigger.notification.sound.enabled}
                on:change={() => NotificationService.notify($settings.trigger.notification)}
            />
            <input
                type="range"
                min="0"
                max="1"
                step=".05"
                disabled={!$settings.trigger.notification.sound.enabled}
                bind:value={$settings.trigger.notification.sound.volume}
                id="trigger-sound"
                name="trigger-sound"
                on:change={() => NotificationService.notify($settings.trigger.notification)}
            />
            <!-- end trigger sound -->
            <!-- trigger vibration -->
            <label for="trigger-vibration-yn"> Vibrate </label>
            <input
                type="checkbox"
                id="trigger-vibration-yn"
                name="trigger-vibration-yn"
                role="switch"
                bind:checked={$settings.trigger.notification.vibrate.enabled}
                on:change={() => NotificationService.notify($settings.trigger.notification)}
            />
            <label for="trigger-vibration-yn">
                {#if $settings.trigger.notification.vibrate.enabled}
                    on
                {:else}
                    off
                {/if}
            </label>
            <!-- end trigger vibration -->
        </fieldset>
    </Section>
</Wrapper>

<style>
    fieldset {
        padding: var(--block-spacing-horizontal) var(--block-spacing-vertical);
    }
    .mgrid {
        display: grid;
        grid-template-columns: 10ch 5ch 3fr;
        white-space: nowrap;
        gap: var(--block-spacing-horizontal);
        align-items: center;
    }
    .mgrid > * {
        margin: 0;
        padding: 0;
    }
    .no-checkbox {
        grid-column: 1 / 3;
    }
</style>
