<script>
    import { onDestroy } from 'svelte';
    import Logger from '$lib/objects/Logger.js';
    import NotificationService from '$lib/services/NotificationService.js';

    import { settings } from '$lib/data/trainerStore.js';

    import LabeledTimerButton from '$lib/components/LabeledTimerButton.svelte';
    import Timer from '$lib/objects/Timer.js';
    import { stopAll } from '../Timer.svelte';

    const logger = Logger('TrainerApp');

    const timers = {
        setup: {
            id: 'setup',
            label: 'start setup'
        },
        trigger: Timer({
            id: 'trigger',
            seconds: 0,
            afterStop: () => {
                NotificationService.notify($settings.trigger.notification);
                const id = Math.floor(Math.random() * $settings.positions);
                fields[id].active = true;
                timers.setup.label = 'GO!';
            }
        })
    };

    function getRandomArbitrary(min, max) {
        return Math.random() * (max - min) + min;
    }

    function handleNotification({ detail: notification }) {
        NotificationService.notify(notification);
    }

    function reset() {
        fields = getFields($settings.positions);
        timers.setup.reset();
        timers.setup.disabled = false;
        const triggerSeconds = getRandomArbitrary(
            $settings.trigger.secondsMin,
            $settings.trigger.secondsMax
        );
        timers.trigger.setSeconds(triggerSeconds);
        logger.log('trigger seconds', triggerSeconds);
        timers.trigger.reset();
    }

    function hitHandler(id) {
        logger.log('hit', id);
        reset();
        if ($settings.setup.auto) {
            timers.setup.start();
        }
    }

    function missHandler(id) {
        logger.log('miss', id);
        reset();
        if ($settings.setup.auto) {
            timers.setup.start();
        }
    }

    function getFields(count) {
        return [...Array(count).keys()].map((id) => ({ id, active: false }));
    }

    onDestroy(() => {
        timers.trigger.stop(true);
        stopAll();
    });

    $: fields = getFields($settings.positions);
    $: timers.setup.notifications = [$settings.setup.notification];
</script>

<div class="wrapper">
    <LabeledTimerButton
        {...timers.setup}
        bind:seconds={$settings.setup.seconds}
        bind:notifications={timers.setup.notifications}
        bind:start={timers.setup.start}
        bind:stop={timers.setup.stop}
        bind:reset={timers.setup.reset}
        on:click={timers.setup.start}
        on:start={reset}
        on:stop={() => {
            timers.setup.label = 'get ready';
            timers.setup.disabled = true;
            timers.trigger.start();
        }}
        on:notify={handleNotification}
    />
    {#each fields as field}
        <div class="field" class:active={field.active}>
            {#if field.active}
                <button
                    on:click={() => {
                        hitHandler(field.id);
                    }}>hit</button
                >
                <button
                    class="miss outline"
                    on:click={() => {
                        missHandler(field.id);
                    }}>miss</button
                >
            {/if}
        </div>
    {/each}
</div>

<style>
    .wrapper {
        display: flex;
        flex-grow: 1;
        flex-flow: column nowrap;
    }
    .field {
        flex: 1 0 0;
        display: flex;
        gap: var(--spacing);
        outline: var(--contrast) solid 1px;
        padding: var(--spacing);
    }
    .active {
        background-color: var(--contrast);
    }
    .field button {
        margin: 0;
        padding: 0;
    }

    button.miss {
        color: var(--contrast-inverse);
        border-color: var(--contrast-inverse);
    }
</style>
