<script>
    import '@picocss/pico';
    import Header from '$lib/components/Header.svelte';
    import NotificationService from '$lib/components/NotificationService.svelte';

    const appName = 'Foos-Assistant';

    import { page } from '$app/stores';
    $: title = $page.data.title;
</script>

<svelte:head>
    <title>{appName}{!title || ` | ${title}`}</title>
</svelte:head>

<NotificationService />
<Header title={title || appName} />
<main class="container">
    <slot />
</main>

<style>
    main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-bottom: var(--block-spacing-vertical);
    }
</style>
