<section>
    <h2>Überblick</h2>
    <article>
        <h3>Referee</h3>
        <p>Zeitschiri-App ohne unnötigen Schnick-Schnack</p>
        <footer>
            <a href="/apps/referee">&raquo; zur App</a>
        </footer>
    </article>
    <article>
        <h3>Trainer</h3>
        <p>Reaktions-Trainer-App</p>
        <footer>
            <a href="/apps/trainer">&raquo; zur App</a>
        </footer>
    </article>
    <article>
        <h3>Analyzer</h3>
        <p>Analyse-App zum betrachten möglicher Schwachstellen in Sturm und/oder Verteidigung.</p>
        <footer>
            <a href="/apps/analyzer">&raquo; zur App</a>
        </footer>
    </article>
</section>
