<script>
    import NotificationService from '$lib/services/NotificationService.js';

    import { settings, defaults } from '$lib/data/refereeStore.js';

    import Section from '$lib/components/settings/SettingsSection.svelte';
    import Wrapper from '$lib/components/settings/SettingsWrapper.svelte';
</script>

<Wrapper saveUrl="/apps/referee" storageKey="fass.referee">
    <Section title="General">
        <fieldset class="mgrid">
            <!-- vibration -->
            <label for="vibration-yn"> Vibrate </label>
            <input
                type="checkbox"
                id="vibration-yn"
                name="vibration-yn"
                role="switch"
                bind:checked={$settings.notification.vibrate.enabled}
                on:change={() => {
                    const notification = defaults.timers.possession.notifications[0];
                    notification.vibrate.enabled = $settings.notification.vibrate.enabled;
                    NotificationService.notify(notification);
                }}
            />
            <label for="vibration-yn">
                {#if $settings.notification.vibrate.enabled}
                    on
                {:else}
                    off
                {/if}
            </label>
            <!-- end vibration -->
            <!-- race mode -->
            <label for="race-mode-yn"> Mode </label>
            <input
                type="checkbox"
                id="race-mode-yn"
                name="race-mode-yn"
                role="switch"
                bind:checked={$settings.raceMode}
            />
            <label for="vibration-yn">
                {#if $settings.raceMode}
                    Race
                {:else}
                    Regular
                {/if}
            </label>
            <!-- end vibration -->
        </fieldset>
    </Section>
    <!--    <Section title="Game">-->
    <!--        <fieldset class="mgrid">-->
    <!--            &lt;!&ndash; first serve &ndash;&gt;-->
    <!--            <label for="setup-game-first-serve" class="no-checkbox">-->
    <!--                First serve-->
    <!--            </label>-->
    <!--            <div class="radios">-->
    <!--                {#each [1, 2] as team}-->
    <!--                    <label>-->
    <!--                        <input-->
    <!--                                type="radio"-->
    <!--                                name="setup-game-first-serve-{team}"-->
    <!--                                value={team}-->
    <!--                                bind:group={$settings.game.firstServe}-->
    <!--                        />-->

    <!--                        Team {team}-->
    <!--                    </label>-->
    <!--                {/each}-->
    <!--            </div>-->
    <!--            &lt;!&ndash; end first serve &ndash;&gt;-->
    <!--            &lt;!&ndash; first table &ndash;&gt;-->
    <!--            <label for="setup-game-first-table" class="no-checkbox">-->
    <!--                First table-->
    <!--            </label>-->
    <!--            <div class="radios">-->
    <!--                {#each [1, 2] as table}-->
    <!--                    <label>-->
    <!--                        <input-->
    <!--                                type="radio"-->
    <!--                                name="setup-game-first-table-{table}"-->
    <!--                                value={table}-->
    <!--                                bind:group={$settings.game.firstTable}/>-->
    <!--                        Table {table}-->
    <!--                    </label>-->
    <!--                {/each}-->
    <!--            </div>-->
    <!--            &lt;!&ndash; end first table &ndash;&gt;-->
    <!--        </fieldset>-->
    <!--    </Section>-->
    <Section title="Games">
        <fieldset class="mgrid">
            <!-- break between games -->
            <label for="setup-game-break" class="no-checkbox">
                {$settings.game.break} second{$settings.game.break === 1 ? '' : 's'} break
            </label>
            <input
                type="range"
                min={defaults.game.minBreak}
                max={defaults.game.maxBreak}
                step="5"
                id="setup-game-break"
                name="setup-game-break"
                bind:value={$settings.game.break}
            />
            <!-- end break between games -->
        </fieldset>
    </Section>

    <Section title="Timeouts">
        <fieldset class="mgrid">
            <!-- timeouts max -->
            <label for="setup-timeout-count" class="no-checkbox">
                {$settings.timeout.count} timeout{$settings.timeout.count === 1 ? '' : 's'}
            </label>
            <input
                type="range"
                min={defaults.timeout.minCount}
                max={defaults.timeout.maxCount}
                id="setup-timeout-count"
                name="setup-timeout-count"
                bind:value={$settings.timeout.count}
            />
            <!-- end timeouts max -->
            <!-- timeout seconds -->
            <label for="setup-timeout-seconds" class="no-checkbox">
                {$settings.timeout.seconds} second{$settings.timeout.seconds === 1 ? '' : 's'}
            </label>
            <input
                type="range"
                min={defaults.timeout.minSeconds}
                max={defaults.timeout.maxSeconds}
                step="5"
                id="setup-timeout-seconds"
                name="setup-timeout-seconds"
                bind:value={$settings.timeout.seconds}
            />
            <!-- end timeout seconds -->
        </fieldset>
    </Section>

    <Section title="Possession">
        <fieldset class="mgrid">
            <!-- possession seconds -->
            <label for="setup-possession-seconds" class="no-checkbox">
                {$settings.possession.seconds} second{$settings.possession.seconds === 1 ? '' : 's'}
            </label>
            <input
                type="range"
                min={defaults.possession.minSeconds}
                max={defaults.possession.maxSeconds}
                step="5"
                id="setup-possession-seconds"
                name="setup-possession-seconds"
                bind:value={$settings.possession.seconds}
            />
            <!-- end possession seconds -->
            <!-- 5 seconds notification -->
            <label for="five-seconds-notification-yn"> 5 Seconds </label>
            <input
                type="checkbox"
                id="five-seconds-notification-yn"
                name="five-seconds-notification-yn"
                role="switch"
                bind:checked={$settings.possession.fiveSecondsNotification}
            />
            <label for="five-seconds-notification-yn">
                {#if $settings.possession.fiveSecondsNotification}
                    Update color{#if $settings.notification.vibrate.enabled}&nbsp;and vibrate{/if}
                {:else}
                    disabled
                {/if}
            </label>
            <!-- end 5 seconds notification -->
        </fieldset>
    </Section>
</Wrapper>

<style>
    fieldset {
        padding: var(--block-spacing-horizontal) var(--block-spacing-vertical);
    }

    .mgrid {
        display: grid;
        grid-template-columns: 10ch 5ch 3fr;
        white-space: nowrap;
        gap: var(--block-spacing-horizontal);
        align-items: center;
    }

    .mgrid > * {
        margin: 0;
        padding: 0;
    }

    .no-checkbox {
        grid-column: 1 / 3;
    }

    /*.radios {*/
    /*    display: flex;*/
    /*    justify-content: space-around;*/
    /*}*/
</style>
