<script>
    import Logger from '$lib/objects/Logger.js';

    import { createEventDispatcher } from 'svelte';
    const dispatch = createEventDispatcher();

    import { Reset, ResetLabel } from '$lib/constants/reset.js';

    export let id;
    export let reset;
    export let disabled = false;

    const logger = Logger(`Reset#${id}`);

    const increment = () => {
        dispatch('reset', { id, reset });
        logger.log(ResetLabel[reset]);

        switch (reset) {
            case Reset.RESET:
            case Reset.WARNING:
                reset++;
                break;
            case Reset.VIOLATION:
            default:
                dispatch('notify', {
                    vibrate: { enabled: true, pattern: [1000] },
                    color: 'rgb(229, 57, 53)'
                });
        }
    };
</script>

<button
    class={$$restProps.class}
    style={$$restProps.style}
    {disabled}
    on:click={increment}
    on:click
>
    {ResetLabel[reset]}
</button>
