<script>
    import ScreenWakeLock from '$lib/components/ScreenWakeLock.svelte';
    import AnalyzerApp from '$lib/components/analyzer/AnalyzerApp.svelte';
</script>

<ScreenWakeLock />
<AnalyzerApp />
