<script>
    import { stats } from '$lib/data/analyzerStore.js';
    import Section from '$lib/components/settings/SettingsSection.svelte';
    import Wrapper from '$lib/components/settings/SettingsWrapper.svelte';
</script>

<Wrapper saveUrl="/apps/analyzer">
    <Section title="Stats">
        <button class="outline delete" on:click={() => stats.set([])}> delete </button>
    </Section>
</Wrapper>

<style>
    .delete {
        color: #e53935;
        border-color: #e53935;
    }
</style>
