<script>
    import { onDestroy } from 'svelte';
    import Logger from '$lib/objects/Logger.js';
    import { stopAll } from '../Timer.svelte';
    import LabeledTimerButton from '$lib/components/LabeledTimerButton.svelte';
    import { stats } from '$lib/data/analyzerStore.js';

    const logger = Logger('AnalyzerApp');

    const positions = 5;

    let hit = false;
    let position = -1;

    const timers = {
        setup: {
            id: 'setup',
            seconds: 15,
            label: 'setup'
        }
    };

    function hitHandler(pos) {
        logger.log('hit registered', pos);
        hit = true;
        position = pos;
        timers.setup.stop();
    }

    function missHandler(pos) {
        logger.log('miss registered', pos);
        hit = false;
        position = pos;
        timers.setup.stop();
    }

    function handleStop({ detail: { time: millis } }) {
        const possession = (timers.setup.seconds * 1000 - millis) / 1000;
        if (possession <= 0) {
            return;
        }
        stats.update((s) => {
            const item = {
                date: new Date().toISOString(),
                possession,
                position,
                hit
            };
            s.push(item);
            return s;
        });
    }

    onDestroy(stopAll);
</script>

<LabeledTimerButton
    {...timers.setup}
    bind:start={timers.setup.start}
    bind:stop={timers.setup.stop}
    bind:reset={timers.setup.reset}
    on:start={timers.setup.reset}
    on:stop={handleStop}
    on:mousedown={timers.setup.stop}
    on:touchstart={timers.setup.stop}
    on:mouseup={() => {
        timers.setup.start();
        hit = false;
        position = -1;
    }}
    on:touchend={() => {
        timers.setup.start();
        hit = false;
        position = -1;
    }}
    on:dblclick={() => timers.setup.stop(false)}
/>

{#each Array.from({ length: positions }, (_, i) => i + 1).reverse() as position}
    <div class="field">
        <h2>{position}</h2>
        <button on:click={() => hitHandler(position)}>
            <span>hit</span>
        </button>
        <button class="miss outline" on:click={() => missHandler(position)}>
            <span>miss</span>
        </button>
    </div>
{/each}

<style>
    .field {
        flex: 1 0 0;
        display: flex;
        gap: var(--block-spacing-vertical);
        padding: var(--block-spacing-horizontal);
    }
    .field > * {
        margin: 0;
        padding: 0;
    }

    h2 {
        width: 2ch;
        height: 2ch;
    }

    h2,
    button span {
        display: inline-block;
        transform: rotate(270deg);
    }

    button.miss {
        color: var(--contrast);
        border-color: var(--contrast);
    }
</style>
