<script>
    import { stats } from '$lib/data/analyzerStore.js';
    import CancelIcon from '$lib/components/icons/CancelIcon.svelte';
    import CheckIcon from '$lib/components/icons/CheckIcon.svelte';
    import WarningIcon from '$lib/components/icons/WarningIcon.svelte';
    import Chart from '$lib/components/Chart.svelte';

    function sortByDate(a, b) {
        return Date.parse(b.date) - Date.parse(a.date);
    }

    function sortByPosition(a, b) {
        return a.position - b.position;
    }

    $: data = $stats.reduce(
        (acc, { position, hit }) => {
            if (position <= 0) {
                return acc;
            }
            const record = acc
                .filter((record) => record.hit === hit)
                .find((record) => record.position === position);

            record.count += 1;
            return acc;
        },
        Array.from({ length: 5 }, (_, i) => i + 1).flatMap((position) => [
            { position, hit: true, count: 0 },
            { position, hit: false, count: 0 }
        ])
    );
    $: chartData = {
        labels: [1, 2, 3, 4, 5],
        datasets: [
            {
                label: 'misses',
                backgroundColor: '#e53935',
                data: data
                    .filter(({ hit }) => !hit)
                    .sort(sortByPosition)
                    .map(({ count }) => count)
            },
            {
                label: 'hits',
                backgroundColor: '#43a047',
                data: data
                    .filter(({ hit }) => hit)
                    .sort(sortByPosition)
                    .map(({ count }) => count)
            }
        ]
    };
</script>

<Chart bind:data={chartData} />
<details>
    <summary>History</summary>
    {#if !$stats.length}
        <p>No stats recorded</p>
    {:else}
        <p style="color: var(--muted-color)">{$stats.length} records</p>
        <figure>
            <table role="grid">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Time</th>
                        <th />
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {#each $stats.sort(sortByDate) as item}
                        <tr class={item.hit ? 'hit' : 'miss'}>
                            <td>{item.position > 0 ? item.position : '-'}</td>
                            <td>{item.possession.toFixed(2)}</td>
                            {#if item.position <= 0}
                                <td class="icon"><WarningIcon />time up</td>
                            {:else if item.hit}
                                <td class="icon"><CheckIcon />hit</td>
                            {:else}
                                <td class="icon"><CancelIcon />miss</td>
                            {/if}
                            <td>{item.date}</td>
                        </tr>
                    {/each}
                </tbody>
            </table>
        </figure>
    {/if}
</details>

<style>
    td {
        white-space: nowrap;
    }

    .hit td {
        color: #43a047;
    }
    .miss td {
        color: #e53935;
    }
    .icon :global(svg) {
        width: 2.5ch;
        margin-right: 1ch;
    }

    details {
        margin: calc(var(--block-spacing-vertical) * 2) 0 var(--block-spacing-vertical);
    }
</style>
