<script>
    export let saveUrl;
    export let storageKey;

    function clearLocalStorage() {
        localStorage.removeItem(storageKey);
        location.reload(true);
    }
</script>

<div class="wrapper">
    <slot />
    {#if storageKey}
        <button class="outline reset-btn" on:click|preventDefault={clearLocalStorage}>reset</button>
    {/if}
    <a href={saveUrl} role="button" class="save-btn">save</a>
</div>

<style>
    .reset-btn {
        margin: calc(var(--block-spacing-vertical) * 2) 0 calc(var(--block-spacing-vertical) / 2);
        display: block;
    }
    .save-btn {
        margin: 0 0 var(--block-spacing-vertical);
        display: block;
    }
</style>
