<script>
    import { Bar } from 'svelte-chartjs';

    import {
        Chart,
        Title,
        Tooltip,
        Legend,
        BarElement,
        CategoryScale,
        LinearScale
    } from 'chart.js';

    Chart.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale);

    export let data;
</script>

<Bar
    {data}
    options={{ responsive: true, scales: { x: { stacked: true }, y: { stacked: true } } }}
/>
