<script>
    export let open;
</script>

<button class="hamburger" class:open on:click={() => (open = !open)}>
    <span class="bar" />
</button>

<style>
    .hamburger {
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        padding: 0.3rem;
        margin: 0.8rem;
        margin-right: auto;
        cursor: pointer;
        appearance: none;
        background: none;
        border: 0;
    }

    .bar,
    .hamburger:before,
    .hamburger:after {
        content: '';
        display: block;
        width: 90%;
        height: 3px;
        background-color: var(--secondary-inverse);
        margin: 5px 0;
        border-radius: 2px;
        transition: 0.2s;
    }

    .open:before {
        transform: translate(0, 8px) rotate(45deg);
    }

    .open:after {
        transform: translate(0, -8px) rotate(-45deg);
    }

    .open .bar {
        opacity: 0;
    }
</style>
