<script>
    import { page } from '$app/stores';

    import ThemeLoader from '$lib/components/ThemeLoader.svelte';
    import HamburgerButton from '$lib/components/HamburgerButton.svelte';
    import MainMenu from '$lib/components/MainMenu.svelte';
    import ThemePicker from '$lib/components/ThemePicker.svelte';
    import Version from '$lib/components/Version.svelte';

    import BackArrowIcon from '$lib/components/icons/BackArrowIcon.svelte';
    import StatsIcon from '$lib/components/icons/StatsIcon.svelte';
    import SettingsIcon from '$lib/components/icons/SettingsIcon.svelte';

    let open = false;
    export let title = 'Foos Assistant';

    const close = () => (open = false);
    $: navigation = $page.data.navigation;
</script>

<ThemeLoader />
<header>
    {#if open}
        <div class="modal" on:click={close} on:keypress={close} on:touchend={close} />
        <div class="page-navigation">
            <MainMenu bind:open />
            <div class="page-navigation-footer">
                <ThemePicker />
                <Version />
            </div>
        </div>
    {/if}
    <div class="head">
        <HamburgerButton bind:open />
        {#if navigation?.back}
            <a href={'#'} class="action" aria-label="back" on:click={() => history.back()}>
                <BackArrowIcon class="action-icon" />
            </a>
        {/if}
        {#if navigation?.stats}
            <a href={navigation.stats} class="action">
                <StatsIcon class="action-icon" />
            </a>
        {/if}
        {#if navigation?.settings}
            <a href={navigation.settings} class="action">
                <SettingsIcon class="action-icon" />
            </a>
        {/if}
        <h1 class="title">
            {title}
        </h1>
    </div>
</header>

<style>
    header {
        position: relative;
        height: 4rem;
        background-color: var(--secondary);
        box-shadow: var(--card-box-shadow);
        z-index: 100;
    }

    .head {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: var(--spacing);
        height: 100%;
    }

    .title {
        font-size: 1.6rem;
        margin: var(--block-spacing-horizontal);
        font-weight: bold;
        text-transform: uppercase;
        color: var(--secondary-inverse);
    }

    .action {
        display: block;
    }

    .action :global(.action-icon) {
        color: var(--secondary-inverse);
        width: 1.6rem;
    }

    .page-navigation {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
        left: 0;
        width: 80vw;
        max-width: 50ch;
        min-height: 100vh;
        background-color: var(--secondary);
        opacity: 0.95;
        box-shadow: var(--card-box-shadow);
        padding: var(--block-spacing-horizontal);
        padding-bottom: calc(var(--block-spacing-horizontal) * 5);
        gap: var(--block-spacing-horizontal);
    }

    .page-navigation-footer {
        display: flex;
        justify-content: space-between;
        padding: var(--nav-element-spacing-vertical) calc(var(--nav-element-spacing-horizontal) * 3);
    }

    .modal {
        background-color: var(--contrast-focus);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        backdrop-filter: var(--modal-overlay-backdrop-filter);
    }
</style>
