<script>
    export let open;
</script>

<aside class="menu">
    <nav>
        <ul>
            <li><a href="/" on:click={() => (open = false)}>Foos Assistant</a></li>
            <li><a href="/apps/referee" on:click={() => (open = false)}>Referee</a></li>
            <li><a href="/apps/trainer" on:click={() => (open = false)}>Trainer</a></li>
            <li><a href="/apps/analyzer" on:click={() => (open = false)}>Analyzer</a></li>
        </ul>
    </nav>
</aside>

<style>
    ul {
        margin: var(--block-spacing-vertical) 0 0 0;
    }

    a {
        font-size: 1.2rem;
        margin: 0;
        padding: var(--nav-element-spacing-vertical) calc(var(--nav-element-spacing-horizontal) * 3);
        color: var(--secondary-inverse);
    }

    a:hover {
        background-color: var(--secondary-hover);
    }

    li:first-child > a {
        text-transform: uppercase;
        font-weight: bold;
    }
</style>
