<script context="module">
    const timers = new Set();

    export const stopAll = (...ids) => {
        [...timers]
            .filter(({ id }) => !ids.legnth || ids.includes(id))
            .forEach((timer) => timer.stop(true));
    };
</script>

<script>
    import { onMount, createEventDispatcher } from 'svelte';
    import Logger from '$lib/objects/Logger.js';
    import Timer from '$lib/objects/Timer.js';
    import Queue from '$lib/objects/Queue.js';

    export let id;
    export let seconds = 0;

    export let labelOverride = '';
    export let notifications = [];

    let _time = seconds * 1000;

    const dispatch = createEventDispatcher();
    const logger = Logger(`Timer#${id}`);

    let notificationQueue;
    let nextNotification = null;

    logger.log('notifications', notifications);

    // descending if seconds provided
    // ascending otherwise
    function notificationComparator(a, b) {
        return seconds ? b.seconds - a.seconds : a.seconds - b.seconds;
    }

    function getNextNotification() {
        return notificationQueue.isEmpty ? null : notificationQueue.dequeue();
    }

    function setupNotifications() {
        notificationQueue = new Queue();
        notifications
            .filter(({ seconds }) => !isNaN(seconds))
            .sort(notificationComparator)
            .forEach(notificationQueue.enqueue);

        nextNotification = getNextNotification();
    }

    function notify(time) {
        if (!nextNotification) {
            return;
        }

        if (time <= nextNotification.seconds * 1000) {
            logger.log('notify', { id, ...nextNotification });
            dispatch('notify', { id, ...nextNotification });
            nextNotification = getNextNotification();
        }
    }

    function onChange(time) {
        _time = time;
    }

    function beforeStart(time) {
        setupNotifications();

        dispatch('start', {
            id,
            time
        });
    }

    function afterStop(time) {
        dispatch('stop', {
            id,
            time
        });
    }

    function onReset(time) {
        setupNotifications();
        onChange(time);

        dispatch('reset', {
            id,
            time
        });
    }

    const timer = Timer({
        id,
        seconds,
        onChange,
        beforeStart,
        afterStop,
        onReset
    });

    $: timer.setSeconds(seconds);

    export let { start, stop, reset } = timer;

    function getFormattedTimeString(time) {
        const padding = (Math.log(seconds) * Math.LOG10E + 1) | 0 || 1;
        const s = Math.floor(time / 1000);
        const ms = (time - s * 1000) % 1000;
        return `${(s + '').padStart(padding, '0')}.${(ms + '').padStart(3, '0')}`;
    }

    $: notify(_time);

    onMount(() => {
        timers.add(timer);

        return () => {
            logger.log('deleted');
            timer.stop(true);
            timers.delete(timer);
        };
    });
</script>

{#if labelOverride}
    {logger.log('label overridden', labelOverride) || labelOverride}
{:else}
    {getFormattedTimeString(_time)}
{/if}
