<script>
    import Timer from '$lib/components/Timer.svelte';

    export let id;
    export let seconds = 0;
    export let notifications = [];
    export let disabled = false;
    export let labelOverride;

    export let start;
    export let stop;
    export let reset;

    let running = false;
</script>

<button
    class={$$restProps.class || ''}
    style={$$restProps.style || ''}
    class:running
    {disabled}
    on:click
    on:dblclick
    on:mousedown
    on:touchstart
    on:mouseup
    on:touchend
>
    <Timer
        bind:id
        bind:seconds
        bind:notifications
        bind:start
        bind:stop
        bind:reset
        bind:labelOverride
        on:notify
        on:start
        on:stop
        on:reset
        on:start={() => {
            running = true;
        }}
        on:stop={() => {
            running = false;
        }}
    />
</button>

<style>
    button {
        font-family: monospace;
        user-select: none;
    }
</style>
