<script>
    const version = PKG.version; // eslint-disable-line no-undef
</script>

<span>{version}</span>

<style>
    span {
        color: var(--primary-inverse);
        opacity: 0.4;
    }
</style>
